.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 76px;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 53px;
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
}
label {
  width: 80px;
  height: 24px;
  padding-bottom: 26px;
  /* padding-right: 80px; */
  /* margin-top: 53px; */
  /* padding-top: 53px; */
  /* padding-left: 250px; */
  margin-left: 250px;
  margin-right: 80px;
  /* margin-bottom: 26px; */
}
label:root {
  --font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #000;
  /* font-weight: bold; */
  /* margin-bottom: 53px; */
  /* padding-bottom: 53px; */
  margin-top: 60px;
  /* padding-top: 60px; */
  /* margin-left: 441.1px; */
  /* padding-left: 441.1px; */
  margin-left: 597px;
  margin-right: 596px;
  /* padding-right: 596px; */
  width: 247px;
  height: 39px;
}
